/* Root Variables for Color Schemes */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Global Styles for HTML and Body */
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: #212832;
  font-family: Paytone One;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


/* Styles for Main Content Area */
.main-content {
  padding: 20px;
  min-height: 80vh; 
}

/* Styles for Footer */
.footer {
  background-color: #000; 
  color: #fff; 
  padding: 10px;
  text-align: center;
  position: sticky;
  bottom: 0;
  width: 100%;
}

.footer-text {
  margin: 0;
  font-size: 0.9rem;
}

/* Styles for General Button */
button {
  background-color: rgba(254, 211, 106, 1);  
  color: black; 
  font-weight: bold;
  padding: 12px 50px;
  margin-top: 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1rem;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

button:hover {
  background-color:  rgb(219, 195, 135); 
  transform: translateY(-2px);
  cursor: pointer;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.input,
.textarea {
  background-color: rgba(69, 90, 100, 1);
  color: rgba(255, 255, 255, 1);
  padding: 11px 55px 11px 55px; 
  border-style: none;
  border-radius: 1px;
  font-size: 1rem;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
