.splash {
  height: calc(100vh - 120px); 
  width: 100vw;
  overflow: hidden;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

.textColumn {
  flex: 1;
  padding-right: 2rem;
}

.title {
  font-size: 4rem;
  font-weight: 500;
  color: var(--primary);
  line-height: 1.2;
  margin-bottom: 2rem;
  text-align: left;
}

.highlight {
  font-size: 4rem;
  color: var(--secondary);
  font-weight: 500;
}

.subtitleA {
  font-family: 'Inter', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: #aaa;
  margin-bottom: 2rem;
  text-align: left;
}

.subtitle {
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  color: #aaa;
  margin-bottom: 2rem;
  text-align: left;
}

.startButton {
  background-color: var(--secondary);
  color: var(--primary);
  border: none;
  padding: 1rem 4rem;
  font-size: 1.2rem;
  border-radius: 16px;
  cursor: pointer;
  font-weight: 400;
  transition: background-color 0.3s ease;
  text-align: left;
}

.startButton:hover {
  background-color: #f8bb43;
  color: var(--primary);
  translate: (0);
}

.imageColumn {
  flex: 1;
  display: flex;
  justify-content: center;
}

.heroImage {
  max-width: 100%;
  width: 370px;
  height: auto;
  border-radius: 12px;
  object-fit: cover;  
}

@media (max-width: 768px) {
  .splash {
    padding-top: 1rem;
  }

  .grid {
    flex-direction: column;
    text-align: center;
  }
  
  .startButton {
    padding: 1rem 2.5rem;
    font-size: 1.2rem;
  }

  .highlight {
    font-size: 3rem;
  }

  .textColumn {
    padding-right: 0;
    text-align: center;
  }

  .title,
  .subtitle {
    font-size: 1.5rem;
    text-align: center;
  }

  .heroImage {
    width: 200px;
    margin: 2rem 0;
  }
}



/* Styles for Authentication Container */

/* Styles for Forms */
.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 5px;
  width: 35%;
  margin-bottom: 6%;
  border-style: none;
}



/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}