/* Styles for Welcome page (page.js) */
.container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 !important;
  max-width: 1122px;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  padding: 5% 25%;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  padding-top: 2%;
  padding-bottom: 3%;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  padding: 5% 25%;
  color: #ffffff;
  text-align: center;
  font: 400 61px/50px Paytone One, -apple-system, Roboto, Helvetica, sans-serif;
}

.splash {
  height: auto;
  width: 100%;
  padding-top: 1%;
}

.contentWrapper {
  gap: 0px;
  display: flex;
}

.textColumn {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 38%;
  margin-left: 0;
}

.textContent {
  display: flex;
  padding-top: 4px;
  flex-grow: 1;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.highlightedText {
  color: #fed36a;
  text-shadow: 0 4px 4px rgba(253, 248, 248, 0.25);
}

.featureImage {
  margin-bottom: 50%;
  margin-top: -20%;
  margin-left: 25%;
}

/* Styles for Authentication Container */

/* Styles for Forms */
.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 5px;
  width: 35%;
  margin-bottom: 6%;
  border-style: none;
}



/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

